.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}



.zone {
    cursor:pointer;
    display:inline-block;
    text-align: center;
    font-size:10em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
    /* padding: 40px; */
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: #56B870; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

/***********************************************************************
 *  Purple Background
 **********************************************************************/
.purple {
    background: #A88BEB; /* Old browsers */
    background: -moz-linear-gradient(top, #A88BEB 0%, #F1A7F1 44%, #F8CEEC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A88BEB), color-stop(44%,#F1A7F1), color-stop(100%,#F8CEEC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* IE10+ */
    background: linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* W3C */
}

/***********************************************************************
 *  Brown Background
 **********************************************************************/
.brown {
    background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* IE10+ */
    background: linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}

/* Demo starts here */

.blue1 {
    background-color: white;
    /* background-color: #4285F4; */
    border: 3px solid;
    border-color: #4285F4;
    color: #4285F4;
    text-align: left;
    padding-left: 100px;
}
.red1 {
    background-color: #DB4437;
}

.yellow1 {
    background-color: #F4B400;
}

.green1 {
    background-color: #0F9D58;
}

.hContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 50px;
    margin-right: 300px;
    color: white;
    font-size: 20px;
}

.csty {
    padding: 10px;
    color: white;
    text-align: center;
}

/* Demo ends here */






  /* Akash Varughese Joseph	20112002 starts here */
  
  /* Akash Varughese Joseph	20112002 ends here */




  

  /* Anukriti Sharma	20112006 starts here */
  
  /* Anukriti Sharma	20112006 ends here */






  /* Fathimathul Susna ShoukkathAli	20112013 starts here */
  
  /* Fathimathul Susna ShoukkathAli	20112013 ends here */






  /* Rayyan Subair	20112016 starts here */
  
  /* Rayyan Subair	20112016 ends here */






  /* Mohamed Parvez	20112019 starts here */
  
  /* Mohamed Parvez	20112019 ends here */






  /* Mubaris Mansoor	20112020 starts here */
  
  /* Mubaris Mansoor	20112020 ends here */






  /* Nilay Purayar	20112021 starts here */
  
  /* Nilay Purayar	20112021 ends here */






  /* Pranav Kataria	20112023 starts here */
  
  /* Pranav Kataria	20112023 ends here */






  /* Rahul Raj	20112024 starts here */
  
  /* Rahul Raj	20112024 ends here */






  /* Sandeep Jabez	20112029 starts here */
  
  /* Sandeep Jabez	20112029 ends here */






  /* U Mahima	20112035 starts here */
  
  /* U Mahima	20112035 ends here */






  /* Vidhi Saha	20112036 starts here */
  
  /* Vidhi Saha	20112036 ends here */






  /* Rohit Vinoj C 20112040 starts here */
  
  /* Rohit Vinoj C 20112040 ends here */






  /* Naveen N S	20112045 starts here */
  
  /* Naveen N S	20112045 ends here */






  /* Srikant Shubham 20112046 starts here */
  
  /* Srikant Shubham 20112046 ends here */






  /* Lydia Monoi	20112309 starts here */
  
  /* Lydia Monoi	20112309 ends here */






  /* Harsh Deepak Gidwani	20112316 starts here */
  
  /* Harsh Deepak Gidwani	20112316 ends here */






  /* Jaansi Raj	20112319 starts here */
  
  /* Jaansi Raj	20112319 ends here */






  /* John Justine	20112320 starts here */
  
  /* John Justine	20112320 ends here */






  /* Raunit Singh	20112338 starts here */
  
  /* Raunit Singh	20112338 ends here */






  /* Shatakshi Singh	20112349 starts here */
  
  /* Shatakshi Singh	20112349 ends here */






  /* Shazli Haque 20112369 starts here */
  
  /* Shazli Haque 20112369 ends here */






  /* Rithika K	20112369 starts here */
  
  /* Rithika K	20112369 ends here */


