.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}



.zone {
    cursor:pointer;
    display:inline-block;
    text-align: center;
    font-size:10em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
    /* padding: 40px; */
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: #56B870; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: blue; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

/***********************************************************************
 *  Purple Background
 **********************************************************************/
.purple {
    background: #A88BEB; /* Old browsers */
    background: -moz-linear-gradient(top, #A88BEB 0%, #F1A7F1 44%, #F8CEEC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A88BEB), color-stop(44%,#F1A7F1), color-stop(100%,#F8CEEC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* IE10+ */
    background: linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* W3C */
}

/***********************************************************************
 *  Brown Background
 **********************************************************************/
.brown {
    background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* IE10+ */
    background: linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}

/* Demo starts here */

.blue1 {
    background-color: rgba(0, 255, 183, 0.272);
    /* background-color: #4285F4; */
    border: 3px solid;
    border-color: #020a16;
    color: #020e21;
    text-align: left;
    padding-left: 100px;
}
.red1 {
    background-color: #DB4437;
}

.yellow1 {
    background-color: #F4B400;
}

.green1 {
    background-color: #0F9D58;
}

.hContainer {
    display: grid;
<<<<<<< HEAD
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 50px;
=======
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 350px;
>>>>>>> bc8d7a8580f243dfaf3fcf624146bee0916c261c
    margin-right: 300px;
    color: rgb(7, 2, 27);
    font-size: 30px;
}

.csty {
    padding: 18px;
    color: rgb(4, 19, 1);
    text-align: center;
}

/* Demo ends here */






  /* Akash Varughese Joseph	20112002 starts here */
  .hContainer20112002{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 100px;
    margin-right: 200px;
    color: white;
    font-size: 20px;
  }

  /* Akash Varughese Joseph	20112002 ends here */




  

  /* Anukriti Sharma	20112006 starts here */
  
  /* Anukriti Sharma	20112006 ends here */






  /* Fathimathul Susna ShoukkathAli	20112013 starts here */
  
  /* Fathimathul Susna ShoukkathAli	20112013 ends here */






  /* Rayyan Subair	20112016 starts here */
  
  /* Rayyan Subair	20112016 ends here */






  /* Mohamed Parvez	20112019 starts here */
  
  /* Mohamed Parvez	20112019 ends here */






  /* Mubaris Mansoor	20112020 starts here */
  
  /* Mubaris Mansoor	20112020 ends here */






  /* Nilay Purayar	20112021 starts here */
  .cyan_20112021{ background: -webkit-linear-gradient(top, #89f1e7 0%,#60f6f8 44%,#40ebee 100%); /* Chrome10+,Safari5.1+ */
    font-family: 'Times New Roman', Times, serif;
}
    .red {
        background-color: #DB4437;
    }
    
    .yellow {
        background-color: #F4B400;
    }
    
    .green {
        background-color: #0F9D58;

    }

    .bluee {
        background-color: #4285F4;
    }
  /* Nilay Purayar	20112021 ends here */






  /* Pranav Kataria	20112023 starts here */
  
  /* Pranav Kataria	20112023 ends here */






  /* Rahul Raj	20112024 starts here */
  
  /* Rahul Raj	20112024 ends here */






  /* Sandeep Jabez	20112029 starts here */
  /* hero background image */
.bgimage {
  height:100vh;
  background: url('heroimage.jpg');
  background-size:cover;
  position:relative;
}
.imageAboutPage {
  width: 100%;
}
/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
  .name{
    background: hsl(101, 69%, 73%); /* Old browsers */
    background-image: gradient(45deg,rgb(219, 45, 45), rgb(74, 206, 33));
    text-align: left;
    

}
.cont{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 50px;
    margin-right: 300px;
    color: white;
    font-size: 20px;
}
.p1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: greenyellow;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 50px;
    margin-right: 300px;
  }
  .yellowsj{
    color: -moz-linear-gradient( #4285F4 20%, #a5c956 80%);

  }
  
  /* Sandeep Jabez	20112029 ends here */






  /* U Mahima	20112035 starts here */
  
  /* U Mahima	20112035 ends here */






  /* Vidhi Saha	20112036 starts here */
.blue2 {
    background-color: rgb(176, 215, 230);
}
.orange1 {
    background-color: orange;
}
.aqua1{
    background-color: aqua;
}

  /* Vidhi Saha	20112036 ends here */






  /* Rohit Vinoj C 20112040 starts here */
  
  /* Rohit Vinoj C 20112040 ends here */






  /* Naveen N S	20112045 starts here */
  .blue_20112045{
    font-family: "Cambria";
    background: #5af349; /* Old browsers */
    background: -moz-linear-gradient(top, #f5d658 0%, #f5d658 44%, #f5d658 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

.blue1_20112045 {
    font-family: "Cambria";
    background-color: #de99ec;
    /* background-color: #4285F4; */
    border: 3px solid;
    border-color: #11ff00;
    color: #062c48;
    text-align: left;
    padding-left: 100px;
}
  /* Naveen N S	20112045 ends here */






  /* Srikant Shubham 20112046 starts here */
  
  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Roboto&display=swap');
  
    /* :root {
          font-family: 'Lobster', cursive;
        
      }
      :style2{
        font-family: 'Poppins', sans-serif;
      }
   :style3{ font-family: 'Roboto', sans-serif;}
    
   h1:var(--style1) */
   
   .sri h1 {
        font-family:'Lobster', sans-serif; 
    }
   .sri h2{
    font-family: 'Poppins';
   }
   @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

   body { background-color: #eee; }
   
   .footer-social-links{
       font-size: 14px;
     text-align: center;
     margin-top: 20%;
   }
   .footer-social-links a{
       width: 50px;
       height: 50px;
       line-height: 25px !important;
       position: relative;
       margin: 0 10px;
       text-align: center;
       display: inline-block;
       color: #111;
       
       -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
       -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
       -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
       -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
       transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
   }
   .footer-social-links a i,
   .footer-social-links a span{
       position: relative;
       top: 2px;
       left: 1px; 
   }
   .footer-social-links a:before{
       content: "";
       display: inline-block;
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       left: 0;
       border: 1px solid #111;
       
       -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
       border-radius: 2px;
       
       -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
       -o-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
       transform: rotate(45deg);
       
       -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
       -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
       -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
       -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
       transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
       
   }
   .footer-social-links a:hover{
       color: #fff;
   }
   .footer-social-links a:hover:before{
       background: #111;
   }

  /* Srikant Shubham 20112046 ends here */






  /* Lydia Monoi	20112309 starts here */
  .hContainer20112309{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 300px;
    margin-right: 300px;
    color: white;
    font-size: 20px;
  }
  /* Lydia Monoi	20112309 ends here */






  /* Harsh Deepak Gidwani	20112316 starts here */
  
  /* Harsh Deepak Gidwani	20112316 ends here */






  /* Jaansi Raj	20112319 starts here */
  .hContainer20112319{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 100px;
    margin-right: 200px;
    color: white;
    font-size: 20px;
  }
  /* Jaansi Raj	20112319 ends here */






  /* John Justine	20112320 starts here */
  
  /* John Justine	20112320 ends here */






  /* Raunit Singh	20112338 starts here */
  #al body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
}

#al a {
  color: #1C9C94;
  text-decoration: none;
}

#al a:hover {
  opacity: 0.5;
}

#al article {
  padding:0 10px;
}

#al section{
  margin: 10px;
  padding: 10px;
}

#al header, main, footer {
  margin: 0 auto;
}

#al header {
  padding: 20px;
  text-align: center;
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: fixed;
  color: white;
}

#al header section {
  margin: 0 auto;
  max-width: 640px;
}

#al header img {
  border-radius: 50%;
  max-width: 150px;
}

#al h1 {
  text-transform: uppercase;
  margin: 10px 0;
}

#al h3 {
  text-transform: uppercase;
}

#al h3, h4 {
  font-weight: bold;
}

#al main {
  max-width: 1140px;
}

#al main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

#al .fab {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 15px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  margin: 5px;
  text-align: center;
}

#al a .fab {
  color: white;
}

#al .course, .skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#al .course .title {
  color: #509e98;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
}

#al .course .descrition {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

#al .course .descrition p {
  padding-left: 10px;
}

#al .skills .column {
  -ms-flex: 0 0 50%%;
  flex: 0 0 50%;
  max-width: 50%;
}

#al .skills .column ul, ul.job-description {
  list-style-type: none;
}

#al .skills .column ul > li:before {
  content: "►";
  padding-right: 5px;
  color: #509e98;
}

#al .school, .job-title {
  text-transform: capitalize;
}

#al .school span, .job-title span {
  color: #889499;
  text-decoration: underline;
}

#al ul.job-description li:before{
  content: "✔";
  padding-right: 5px;
  color: #509e98;
}



  
  
  /* Raunit Singh	20112338 ends here */






  /* Shatakshi Singh	20112349 starts here */
  
  /* Shatakshi Singh	20112349 ends here */






  /* Shazli Haque 20112369 starts here */
  
  /* Shazli Haque 20112369 ends here */






  /* Rithika K	20112369 starts here */
  
  /* Rithika K	20112369 ends here */
